/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-color: black;
}


/******************************************
/* LAYOUT
/*******************************************/
main {
     border: 2px solid red;
     height: 585px;
     width: 400px;
     margin: auto;
}

section.inputField {
     border-radius: 10px;
     background-color: rgb(28, 31, 38);
     color: white;
     height: 180px;
     width: 94%;
     margin: auto;
     margin-top: 10px;
     text-align: center;
     font-size: 30px;
}

section.keyPad{
     border-radius: 10px;
     background-color: rgb(16, 16, 20);
     height: 360px;
     width: 92%;
     margin: auto;
     margin-top: 10px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h1 {
     text-align: center;
}

button {
     background-color: rgb(28, 31, 38);
     font-size: 22px;
     border-radius: 10px;
     margin-bottom: 4px;
     color: white;
}

.normButton {
     width: 23%;
     background-color: rgb(28, 31, 38);
}

button.uniqueButton {
     background-color: rgb(58, 131, 133);
     width: 30%;
}

button.operator {
     background-color: rgb(120, 230, 168);
}