/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-color: black;
}


/******************************************
/* LAYOUT
/*******************************************/
main {
     border-radius: 20px;
     border: 2px solid red;
     height: 585px;
     width: 400px;
     margin: auto;
}

section.inputField {
     border-radius: 10px;
     background-color: rgb(32, 33, 36);
     color: white;
     height: 180px;
     width: 93%;
     margin: auto;
     margin-top: 10px;
     font-size: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
}

section.keyPad{
     border-radius: 10px;
     background-color: rgb(16, 16, 20);
     height: 360px;
     width: 92%;
     margin: auto;
     margin-top: 10px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h1 {
     text-align: center;
}

button {
     background-color: rgb(32, 33, 36);
     font-size: 22px;
     border-radius: 10px;
     margin-bottom: 4px;
     color: white;
}

.normButton {
     width: 22%;
     background-color: rgb(32, 33, 36);
     
}

button.uniqueButton {
     background-color: hsl(240, 82%, 45%);
     width: 30%;
     
}

button.operator {
     background-color: hsl(0, 100%, 30%);
     
}